{{!< default}}
{{> header}}
<main id="main" class="container" role="main">
    {{#post}}
        <a href="/blog" id="backNav" >&larr; Go Back</a>
        <article role="article" id="article-container">
            <header>
                <h1><a href="{{{url}}}">{{title}}</a></h1>
                <p>by <a href="{{author.website}}" target="_blank">{{author}}</a> on
                    <i class="fa fa-calendar fa- text-muted"> {{date format='D/M/YYYY'}}</i></p>
                <span></span>
            </header>
            <div>
                {{content}}
            </div>
            {{#if tags}}
                <div>
                    <span></span> Tags: {{tags separator=" . "}}
                </div>
            {{/if}}
            <div class="text-center">
                <p>Share:</p>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{title}}&summary={{excerpt}}" target="_blank"><span><i class="fa fa-linkedin-square fa-2x"></i></span></a>
                <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" target="_blank"><span><i class="fa fa-twitter-square fa-2x"></i></span></a>
                <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i><span></span></a>
            </div>
        </article>
        {{#if author}}
            <footer class="text-center">
                <br><br>
            </footer>
        {{/if}}
    {{/post}}
</main>
{{> footer}}